
<!DOCTYPE html>
 
<html lang="ar">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>Barcode System</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- end: META -->
    <!-- start: GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- end: GOOGLE FONTS -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="~/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendor/themify-icons/themify-icons.min.css">
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="~/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <!-- end: MAIN CSS -->
    <!-- start: CLIP-TWO CSS -->
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/css/plugins.css">
    <link rel="stylesheet" href="~/assets/css/themes/theme-2.css" id="skin_color" />
    <link rel="stylesheet" href="~/assets/css/rtl.css" />
    <!-- end: CLIP-TWO CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<!-- end: HEAD -->
<body>
    <div id="app">
        <!-- sidebar -->
        <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
                <nav>
                    <!-- start: SEARCH FORM -->
                    <div class="search-form">
                        <a class="s-open" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <form class="navbar-form" role="search">
                            <a class="s-remove" href="#" target=".navbar-form">
                                <i class="ti-close"></i>
                            </a>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="بحث...">
                                <button class="btn search-button" type="submit">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- end: SEARCH FORM -->
                    <!-- start: MAIN NAVIGATION MENU -->
                    <div class="navbar-title">
                        <span>القائمة الرئيسية</span>
                    </div>
                    <ul class="main-navigation-menu">
                        <li class="active open">
                            <a href="#">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-home"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title">الرئيسية</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-settings"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title">عمليات</span><i class="icon-arrow"></i>
                                    </div>
                                </div>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">
                                        <span class="title"> مستقبل طلبات </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title"> مشرف </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title"> مقيم </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">مراجعة </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">معمد </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">مساعد اداري </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">باحث </span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-layout-grid2"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title">تقارير</span><i class="icon-arrow"></i>
                                    </div>
                                </div>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">
                                        <span class="title">وثائق تفصيلية</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title"> الوثائق النشطة </span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-pencil-alt"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title">اعدادات</span><i class="icon-arrow"></i>
                                    </div>
                                </div>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">
                                        <span class="title">منتجات</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">عقود</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <div class="item-content">
                                    <div class="item-media">
                                        <i class="ti-user"></i>
                                    </div>
                                    <div class="item-inner">
                                        <span class="title">اداري</span><i class="icon-arrow"></i>
                                    </div>
                                </div>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">
                                        <span class="title">اضافة قوائم</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">تحويل</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">مستخدمين</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">اضافة وثائق</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">رابط المستخدمين</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">رابط المستخدمين بنوع العمل</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">انشاء وثيقة</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- end: CORE FEATURES -->

                </nav>
            </div>
        </div>
        <!-- / sidebar -->
        <div class="app-content">
            <!-- start: TOP NAVBAR -->
            <header class="navbar navbar-default navbar-static-top">
                <!-- start: NAVBAR HEADER -->
                <div class="navbar-header">
                    <a href="#" class="sidebar-mobile-toggler pull-right hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="navbar-brand" href="index.html">
                        <img src="~/assets/images/logo.png" alt="Clip-Two" />
                      
                    </a>
                    <a href="#" class="sidebar-toggler pull-left visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="pull-left menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="ti-view-grid"></i>
                    </a>
                </div>
                <!-- end: NAVBAR HEADER -->
                <!-- start: NAVBAR COLLAPSE -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-right">
                        <li class="dropdown current-user">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/assets/images/avatar-1.jpg" alt="Peter"> <span class="username">محمد الصالح <i class="ti-angle-down"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-dark">
                                <li>
                                    <a href="#">
                                        الملف الشخصي
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        تسجيل  خروج
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: USER OPTIONS DROPDOWN -->
                    </ul>
                    <div class="basket-group-wrapper">
                        <!-- start:  MINI STATS WITH SPARKLINE -->
                        <ul class="mini-stats pull-left">
                            <li class="show-sub-menu">
                                <a href="#">
                                    <div class="text-small no-margin">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <p>25</p>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="fixed-title-width" href="#">مستقبل</a>
                                        <a class="note-red" href="#">17</a>
                                        <a class="note-gray" href="#">15</a>
                                    </li>
                                    <li>
                                        <a class="fixed-title-width" href="#">مشرف</a>
                                        <a class="note-red" href="#">11</a>
                                        <a class="note-gray" href="#">5</a>

                                    </li>
                                    <li>
                                        <a class="fixed-title-width" href="#">مقيم</a>
                                        <a class="note-red" href="#">12</a>
                                        <a class="note-gray" href="#">23</a>

                                    </li>
                                    <li>
                                        <a class="fixed-title-width" href="#">مراجعة</a>
                                        <a class="note-red" href="#">19</a>
                                        <a class="note-gray" href="#">10</a>

                                    </li>
                                    <li>
                                        <a class="fixed-title-width" href="#">معمد</a>
                                        <a class="note-red" href="#">12</a>
                                        <a class="note-gray" href="#">22</a>

                                    </li>
                                </ul>
                            </li>
                            <li class="show-sub-menu">
                                <a href="#">
                                    <div class="text-small no-margin">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                    <p>22</p>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="fixed-title-width" href="#">مستقبل</a>
                                        <a class="note-red" href="#">17</a>
                                        <a class="note-gray" href="#">15</a>
                                    </li>
                                    <li>
                                        <a class="fixed-title-width" href="#">مشرف</a>
                                        <a class="note-red" href="#">11</a>
                                        <a class="note-gray" href="#">5</a>

                                    </li>
                                    <li>
                                        <a class="fixed-title-width" href="#">مقيم</a>
                                        <a class="note-red" href="#">12</a>
                                        <a class="note-gray" href="#">23</a>

                                    </li>
                                    <li>
                                        <a class="fixed-title-width" href="#">مراجعة</a>
                                        <a class="note-red" href="#">19</a>
                                        <a class="note-gray" href="#">10</a>

                                    </li>
                                    <li>
                                        <a class="fixed-title-width" href="#">معمد</a>
                                        <a class="note-red" href="#">12</a>
                                        <a class="note-gray" href="#">22</a>

                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <!-- end: MINI STATS WITH SPARKLINE -->
                    </div>
                </div>

            </header>
            <!-- end: TOP NAVBAR -->
            <div class="main-content">
                <div class="wrap-content container" id="container">
                    <!-- start: DASHBOARD TITLE -->
                    <section id="page-title" class="padding-top-15 padding-bottom-15">
                        <div class="row">
                            <div class="col-sm-7">
                                <h1 class="mainTitle">لوحة التحكم</h1>
                            </div>

                        </div>
                    </section>

                </div>
            </div>
        </div>

        <!-- start: FORGOT -->

        @RenderBody()

        <!-- start: FOOTER -->
        <footer>
            <div class="footer-inner">
                <div class="pull-right">
                    &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> Barcode</span>. <span>  جميع الحقوق محفوظة</span>
                </div>
                <div class="pull-left">
                    <span class="go-top"><i class="ti-angle-up"></i></span>
                </div>
            </div>
        </footer>
        <!-- end: FOOTER -->
        <!-- start: SETTINGS -->
        <div class="settings panel panel-default hidden-xs hidden-sm" id="settings">
            <button ct-toggle="toggle" data-toggle-class="active" data-toggle-target="#settings" class="btn btn-default">
                <i class="fa fa-spin fa-gear"></i>
            </button>
            <div class="panel-heading">
                Style Selector
            </div>
            <div class="panel-body">
                <!-- start: FIXED HEADER -->

                <div class="setting-box clearfix">
                    <span class="setting-title pull-left"> Fixed header</span>
                    <span class="setting-switch pull-right">
                        <input type="checkbox" class="js-switch" id="fixed-header" />
                    </span>
                </div>
                <!-- end: FIXED HEADER -->
                <!-- start: FIXED SIDEBAR -->
                <div class="setting-box clearfix">
                    <span class="setting-title pull-left">Fixed sidebar</span>
                    <span class="setting-switch pull-right">
                        <input type="checkbox" class="js-switch" id="fixed-sidebar" />
                    </span>
                </div>
                <!-- end: FIXED SIDEBAR -->
                <!-- start: CLOSED SIDEBAR -->
                <div class="setting-box clearfix">
                    <span class="setting-title pull-left">Closed sidebar</span>
                    <span class="setting-switch pull-right">
                        <input type="checkbox" class="js-switch" id="closed-sidebar" />
                    </span>
                </div>
                <!-- end: CLOSED SIDEBAR -->
                <!-- start: FIXED FOOTER -->
                <div class="setting-box clearfix">
                    <span class="setting-title pull-left">Fixed footer</span>
                    <span class="setting-switch pull-right">
                        <input type="checkbox" class="js-switch" id="fixed-footer" />
                    </span>
                </div>
                <!-- end: FIXED FOOTER -->
                <!-- start: THEME SWITCHER -->
                <div class="colors-row setting-box">
                    <div class="color-theme theme-1">
                        <div class="color-layout">
                            <label>
                                <input type="radio" name="setting-theme" value="theme-1">
                                <span class="ti-check"></span>
                                <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                            </label>
                        </div>
                    </div>
                    <div class="color-theme theme-2">
                        <div class="color-layout">
                            <label>
                                <input type="radio" name="setting-theme" value="theme-2">
                                <span class="ti-check"></span>
                                <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="colors-row setting-box">
                    <div class="color-theme theme-3">
                        <div class="color-layout">
                            <label>
                                <input type="radio" name="setting-theme" value="theme-3">
                                <span class="ti-check"></span>
                                <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                            </label>
                        </div>
                    </div>
                    <div class="color-theme theme-4">
                        <div class="color-layout">
                            <label>
                                <input type="radio" name="setting-theme" value="theme-4">
                                <span class="ti-check"></span>
                                <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="colors-row setting-box">
                    <div class="color-theme theme-5">
                        <div class="color-layout">
                            <label>
                                <input type="radio" name="setting-theme" value="theme-5">
                                <span class="ti-check"></span>
                                <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                            </label>
                        </div>
                    </div>
                    <div class="color-theme theme-6">
                        <div class="color-layout">
                            <label>
                                <input type="radio" name="setting-theme" value="theme-6">
                                <span class="ti-check"></span>
                                <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                                <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- end: THEME SWITCHER -->
            </div>
        </div>
        <!-- end: SETTINGS -->
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <!--<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/modernizr/modernizr.js"></script>
    <script src="vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="vendor/switchery/switchery.min.js"></script>-->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!--<script src="vendor/Chart.js/Chart.min.js"></script>
    <script src="vendor/jquery.sparkline/jquery.sparkline.min.js"></script>-->
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <!--<script src="assets/js/main.js"></script>-->
    <!-- start: JavaScript Event Handlers for this page -->
    <!--<script src="assets/js/index.js"></script>
    <script>
            jQuery(document).ready(function () {
                Main.init();
                Index.init();
            });
    </script>-->
    <!-- end: JavaScript Event Handlers for this page -->
    <!-- end: CLIP-TWO JAVASCRIPTS -->
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="~/vendor/jquery/jquery.min.js"></script>

    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/modernizr/modernizr.js"></script>
    <script src="~/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/vendor/switchery/switchery.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="~/vendor/Chart.js/Chart.min.js"></script>
    <script src="~/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <script src="~/assets/js/main.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="~/assets/js/index.js"></script>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            Index.init();
        });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
    <!-- end: CLIP-TWO JAVASCRIPTS -->
</body>
</html>