
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_TaqeemLayout.cshtml";
}

<!-- start: FORGOT -->
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

        <!-- start: FORGOT BOX -->
        <div class="box-forgot">
            <form class="form-forgot">
                <fieldset>
                    <legend>
                        تغيير كلمة السر
                    </legend>

                    <div class="form-group">
                        <span class="input-icon">
                            <input type="text" class="form-control" name="OldPassword" placeholder="كلمة السر القديمة *">
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="text" class="form-control" name="NewPassword" placeholder="كلمة السر الجديدة *">
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon">
                            <input type="text" class="form-control" name="NewPassword" placeholder="تأكيد كلمة السر الجديدة *">
                        </span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary pull-right">
                            تغيير <i class="fa fa-arrow-circle-left"></i>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- end: FORGOT BOX -->
    </div>
</div>

<!-- start: FOOTER -->
 